<footer class="footer ">   
    
        <div class="row container-fluid ">
            <div class="col-md-4">
                <div class="location text-center py-5">
                    <h2 class="fw500-fs28">LOCATION</h2>
                    <p class="ss fw400-fs16" >2215 John Daniel Drive<span><br></span>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="around text-center py-5">
                    <h2 class="fw500-fs28">AROUND THE WEB</h2>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mx-1 icon-round"><i class="fa-brands fa-facebook mx-1 icon"></i></div>
                        <div class="mx-1 icon-round"><i class="fa-brands fa-twitter mx-1 icon"></i></div>
                        <div class="mx-1 icon-round"><i class="fa-brands fa-linkedin-in mx-1 icon"></i></div>
                        <div class="mx-1 icon-round"><i class="fa-solid fa-globe mx-1 icon"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about text-center py-5">
                    <h2 class="fw500-fs28">ABOUT FREELANCER</h2>
                    <p class="fw400-fs16">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
                <div class="Copyright py-3 d-flex justify-content-center align-items-center text-center">
                    <p>Copyright © Your Website 2021</p>
                </div>
</footer>
