<section class="about mt-5 py-5 d-flex justify-content-center align-items-center">
    <div class="row container">
        <div class="col-md-12 mb-2">
            <div>
                <div class="text-center d-flex flex-wrap justify-content-center w-100">
                    <h2 class="w-100 fw700-fs40">ABOUT COMPONENT</h2>
                    <div class="my-ico"><i class="fa-solid fa-star mb-2"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 fw400-fs16">
            <div><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
        </div>
        <div class="col-md-6 fw400-fs16"><div>
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div></div>
    </div>
</section>
