<section class="portfilo mt-5 pt-5">
    <div class="container">
        <div class="row g-5 pb-5">
            <div class="col-md-12">
                <div>
                    <div class="text-center d-flex flex-wrap justify-content-center w-100">
                        <h2 class="w-100 fw700-fs40">PORTFOLIO  COMPONENT</h2>
                        <div class="my-ico"><i class="fa-solid fa-star mb-2"></i></div>
                    </div>
                </div>
            </div>
            <div class="about-img col-md-4 rounded position-relative ">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal" class=" img-layer rounded d-flex justify-content-center align-items-center">
                     <i  class=" text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/poert1.png" alt="">
                </div>
                    <div class="modal  fade w75-w " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="w-100 ">
                                <img class="w-100" src="./assets/imeges/poert1.png" alt="">
                            </div>
                          </div>
                    </div>


            <div class="about-img col-md-4 rounded position-relative">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="img-layer rounded d-flex justify-content-center align-items-center">
                     <i class="text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/port2.png" alt="">
                </div>
                <div class="modal  fade w75-w " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="w-100 ">
                            <img class="" src="./assets/imeges/port2.png" alt="">
                        </div>
                      </div>
                </div>



            <div class="about-img col-md-4 rounded position-relative">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal3" class="img-layer rounded d-flex justify-content-center align-items-center">
                     <i class="text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/port3.png" alt="">
                </div>
                <div class="modal  fade w75-w " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="w-100 ">
                            <img class="" src="./assets/imeges/port3.png" alt="">
                        </div>
                      </div>
                </div>


            <div class="about-img col-md-4 rounded position-relative">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal4" class=" img-layer rounded d-flex justify-content-center align-items-center">
                     <i class="text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/poert1.png" alt="">
                </div>
                <div class="modal  fade w75-w " id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="w-100 ">
                            <img class="w-100" src="./assets/imeges/poert1.png" alt="">
                        </div>
                      </div>
                </div>



            <div class="about-img col-md-4 rounded position-relative">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal5"class="img-layer rounded d-flex justify-content-center align-items-center">
                     <i class="text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/port2.png" alt="">
                </div>
                <div class="modal  fade w75-w " id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="w-100">
                            <img class="" src="./assets/imeges/port2.png" alt="">
                        </div>
                      </div>
                </div>






            <div class="about-img col-md-4 rounded position-relative">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal6"class="img-layer rounded d-flex justify-content-center align-items-center">
                     <i class="text-white fa-solid fa-plus fa-6x"></i> 
                    </div>
                    <img class="rounded" src="./assets/imeges/port3.png" alt="">
                </div>
                <div class="modal  fade w75-w " id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="w-100 bg-body">
                            <img class="" src="./assets/imeges/port3.png" alt="">
                        </div>
                      </div>
                </div>
                
        </div>

    </div>

</section>