<section class="home d-flex flex-wrap justify-content-center pb-5 mt-5 pt-5">
    <div class="main-comtainer d-flex flex-wrap justify-content-center">
        <div class="my-img mb-5 ">
            <img  src="./assets/imeges/avataaars.svg" alt="">
        </div>
        <div class="text-center d-flex flex-wrap justify-content-center w-100">
            <h2 class="w-100 fw700-fs40">START FRAMEWORK</h2>
            <div class="my-ico"><i class="fa-solid fa-star mb-2"></i></div>
            <p class="w-100 fw400-fs16">Graphic Artist - Web Designer - Illustrator</p>  
        </div>
    </div>
</section>